.hotel-pic {
    width: 100%;
}
h1,h4 {
    color: dimgrey;
}
.nav-hotel {
    background-color: #131923;
    height: 80px;
    margin-bottom: 30px;
    color: #fff;
   display: flex;
    justify-content: space-between;
}
.main-hotel {
    margin: 30px;
}
h5 {
    margin: 0px;
    text-align: left;
    padding: 30px ;
    font-size: 20px;
}
