.main-block{
    margin: 30px;
}
.nav {
    display: flex;
    justify-content: space-around;
    background-color: #131923;
}
.logo {
    width: 400px;
    height: 60px;
    margin-top: 28px;
}
h2 {
    color: dimgrey;
    margin: 50px 0;
}

li {
    list-style: none;
    display: inline-block;
    margin: 20px 0 20px 20px;
}
a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.title1 {
    margin-top: 50px;
}
.main-pic {
    width: 100%;
}